@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #f9faf8;
    background-color: #1f2937;
}

img {
    max-width: 100%;
}

.navbar {
    height: 60px;
    
}

.navbar .container {
    display: flex;
}
