@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #f9faf8;
    background-color: #1f2937;
    margin: 16px;
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navbar {
    height: 60px;
    width: 100%;
    align-self: stretch;
}

.navbar .container {
    width: 100%;
    align-self: stretch; /* allow it to span across */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
    display: flex;
    gap: 8px;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: small;
    color: #E5E7EB;
}

.logo {
    color: #F9FAF8;
    font-weight: 900;
}

header .container {
    display: flex;
    min-width: 120px;
    gap: 16px;
    align-items: center;
}

header .container img {
    flex: 1 0 auto;
    height: 200px;
    width: 300px;
}

header .container .text {
    display: flex;
    flex-direction: column;
    border: black;
    font-size: medium;

}

button {
    align-self: flex-start;
    margin-top: 8px;
    background-color: #3882f6;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
    border: none;   
    outline: none;
}

.section--light  { 
    background: white 
}

.section--grey {
    background: #E5E7EB; 
    color: #1F2937; 
}